.header_liked {

    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(91, 87, 115);
}


.header_left {
    flex: 0.5;
    display: flex;
    padding: 10px;
    border-radius: 30px;
    color: white;

    align-items: center;
    align-items:start;
}
.header__right {
    display: flex;
    align-items: center;
}